<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <table>
            <tr>
                <th>name</th>
                <th>email</th>
                <th>age</th>
            </tr>
            <tr>
                <tr>{{data.name}}</tr>
                <tr>{{data.email}}</tr>
                <tr>{{data.age}}</tr>
            </tr>
        </table>

</body>
</html>